<div id="pageCustomOverlay" class="page-custom-overlay"></div>
<div id="pageCustomModal" class="page-custom-modal" style="display: none">
    <%- include('./settings/page-custom.ejs') %>
</div>
<script src="./scripts/settings/page-custom.js"></script>



<div id="logConfigOverlay" class="log-config-overlay"></div>
<div id="logConfigModal" class="log-config-modal" style="display: none">
    <%- include('./settings/log-config.ejs') %>
</div>
<script src="./scripts/settings/log-config.js"></script>



<div id="extUserOverlay" class="ext-user-overlay"></div>
<div id="extUserModal" class="ext-user-modal" style="display: none">
    <%- include('./settings/extended-user.ejs') %>
</div>
<script src="./scripts/settings/extended-user.js"></script>



<div id="locationOverlay" class="location-overlay"></div>
<div id="locationModal" class="location-modal" style="display: none">
    <div id="locationModalContent">
        <%- include('./settings/location.ejs') %>
    </div>
</div>
<script src="./scripts/settings/location.js"></script>



<div id="logsDisplayOverlay" class="logs-display-overlay"></div>
<div id="logsDisplayModal" class="logs-display-modal" style="display: none">
    <%- include('./settings/logs-display.ejs') %>
</div>
<script src="./scripts/settings/logs-display.js"></script>



<div id="reportSettingsOverlay" class="report-settings-overlay"></div>
<div
    id="reportSettingsModal"
    class="report-settings-modal"
    style="display: none"
>
    <%- include('./settings/report-settings.ejs') %>
</div>
<script src="./scripts/settings/report-settings.js"></script>



<div id="liloModeOverlay" class="lilo-mode-overlay"></div>
<div id="liloModeModal" class="lilo-mode-modal" style="display: none">
    <%- include('./settings/extended-user.ejs') %>
</div>
<script src="./scripts/settings/lilo-mode.js"></script>
