<li class="nav-item" role="presentation">
    <a href="/superadmin/dashboard" class="nav-link d-flex align-items-center <%= (title === 'Dashboard') ? 'active' : '' %>" role="tab">
        <img loading="lazy" src="/pics/Home.png" style="width: 20px;" />
        <span class="ms-2">Home</span>
    </a>
</li>
<li class="nav-item" role="presentation">
    <a href="/superadmin/home" class="nav-link d-flex align-items-center <%= (title === 'Company List') ? 'active' : '' %>" role="tab">
        <i class="bi bi-bar-chart" style="font-size: 20px;"></i>
        <span class="ms-2">Company List</span>
    </a>
</li>
<li class="nav-item" role="presentation">
    <a href="/superadmin/subs" class="nav-link d-flex align-items-center <%= (title === 'Subscribers List') ? 'active' : '' %>" role="tab">
        <i class="fas fa-users me-2"></i>
        <span class="ms-2">Subscribers</span>
    </a>
</li>
<li class="nav-item" role="presentation">
    <a href="/superadmin/reports" class="nav-link d-flex align-items-center <%= (title === 'Reports') ? 'active' : '' %>" role="tab">
        <img loading="lazy" src="/pics/Reports.png" alt="" style="width: 20px;" />
        <span class="ms-2">Reports</span>
    </a>
</li>
<li class="nav-item" role="presentation">
    <a href="/superadmin/settings" class="nav-link d-flex align-items-center <%= (title === 'Settings') ? 'active' : '' %>" role="tab">
        <img loading="lazy" src="/pics/Settings.png" alt="" style="width: 20px;" />
        <span class="ms-2">Settings</span>
    </a>
</li>
<li class="nav-item" role="presentation">
    <a href="/superlogout" class="nav-link d-flex align-items-center" role="tab">
        <img loading="lazy" src="/pics/Logout.png" alt="" class="img-fluid object-fit-cover" style="width: 20px;" />
        <span class="ms-2">Logout</span>
    </a>
</li>