<div class="col-12 col-md-12 col-lg-12 col-xl-4 mb-6 d-flex pb-3 <%= additionalClasses %>">
    <div class="card text-center w-100 bg-white border-0 shadow-sm d-flex flex-column h-100">
        <div class="card-body d-flex flex-sm-row gap-3 align-items-center justify-content-start">
            <div class="<%= bgColor %> text-white p-3-5 rounded-circle">
                <i class="<%= icon %> fs-2"></i>
            </div>
            <div class="text-start">
                <p class="card-title text-muted mb-0 fs-6">
                    <%= title %>
                </p>
                <h1 class="card-text fw-bold mb-0">
                    <%= value %>
                </h1>
            </div>
        </div>
    </div>
</div>
